<%- include("./partials/header") %>

        <div class="img-container">
            <div>
                <img src="<%= randomDog.url %>">
            </div>
        </div>


<%- include("./partials/footer") %>